<section>
  <table class="table">
    <thead>
      <tr>
        <th class="col">ID</th>
        <th class="col">Nombre</th>
        <th class="col">Dirección</th>
        <th class="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      {{# data }}
      <tr data-id={{id_modulo}}>
        <td>{{id_modulo}}</td>
        <td>{{nombre}}</td>
        <td>{{direccion}}</td>
        <td>
          <button id="edit" class="btn btn-primary">Editar</button>
        </td>
      </tr>
      {{/ data }}
    </tbody>
  </table>
</section>
