@import "/public/css/error-message.css";

:root {
	--ac: #0d6efd;
}

.main-container {
	margin: 5rem 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.content-container {
	width: 90%;
}
.id_info {
	color: var(--ac);
}