<ul class="list-group">
  {{# options}}
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="{{id}}" id="{{id}}">
      <label class="form-check-label" for="{{id}}">{{text}}</label>
    </li>
  {{/ options}}
</ul>
